<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/contacts.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
      integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </head>
  <body>
    <h1>Welcome to contact app</h1>
    <br />
    <div class="allContainer">
      <a href="/contacts/getAll">
        <button type="submit" class="cursorBtn clickable">
          Get all the contacts
        </button>
      </a>
    </div>

    <div class="allContainer">
      <form action="/contacts/getById" method="get">
        <div id="getContactInitiator" class="initiators">Get contact by id</div>

        <div class="hiddenPart" id="getByIdHidden">
          <input type="text" placeholder="Id" name="_id" />
          <button type="submit" class="cursorBtn clickable">Submit</button>
        </div>
      </form>
    </div>

    <div class="allContainer">
      <form action="/contacts/new" method="post">
        <div id="postContactInitiator" class="initiators">Post new contact</div>
        <div id="postNewHidden" class="hiddenPart">
          <input type="text" placeholder="Name" name="name" />
          <input type="text" placeholder="Surname" name="surname" />
          <input type="email" placeholder="Email" name="email" />
          <input type="tel" placeholder="Phone Number" name="phoneNum" />
          <button type="submit" class="cursorBtn clickable">Submit</button>
        </div>
      </form>
    </div>

    <div class="allContainer">
      <div id="updateContactInitiator" class="initiators">
        Update the contact by id
      </div>
      <div class="hiddenPart" id="updateHidden">
        <input type="text" placeholder="Id" name="_id" id="updateId" />
        <input type="text" placeholder="New Name" id="newName" />
        <input type="text" placeholder="New Surname" id="newSurname" />
        <input type="text" placeholder="New Email" id="newEmail" />
        <input type="text" placeholder="New Phone Number" id="newPhoneNum" />

        <button type="submit" class="cursorBtn clickable" id="updateButton">
          Submit
        </button>
        <span id="updateStatusSpan"></span>
      </div>
    </div>

    <div class="allContainer">
      <div id="deleteContactInitiator" class="initiators">Delete by id</div>
      <div class="hiddenPart" id="deleteContactHidden">
        <input type="text" placeholder="Id" id="deleteId" />
        <button type="submit" class="cursorBtn clickable" id="buttonDelete">
          Submit
        </button>
        <span id="deleteStatusSpan"></span>
      </div>
    </div>

    <ul></ul>
    <script>
      $("#getContactInitiator").click(() => {
        $("#getByIdHidden").toggle(600);
      });
      $("#postContactInitiator").click(() => {
        $("#postNewHidden").toggle(600);
      });
      $("#updateContactInitiator").click(() => {
        $("#updateHidden").toggle(600);
      });
      $("#deleteContactInitiator").click(() => {
        $("#deleteContactHidden").toggle(600);
      });

      const buttonUpdate = document.querySelector("#updateButton");

      buttonUpdate.addEventListener("click", (e) => {
        e.preventDefault();
        const _id = document.querySelector("#updateId").value;
        const newName = document.querySelector("#newName").value;
        const newSurname = document.querySelector("#newSurname").value;
        const newEmail = document.querySelector("#newEmail").value;
        const newPhoneNum = document.querySelector("#newPhoneNum").value;
        const updateStatusSpan = document.querySelector("#updateStatusSpan");

        fetch("http://127.0.0.1:3000/contacts/updateById", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
            "My-Custom-Header": "contactApp",
          },
          body: JSON.stringify({
            _id: _id,
            name: newName,
            surname: newSurname,
            email: newEmail,
            phoneNum: newPhoneNum,
          }),
        })
          .then((res) => {
            if (res.ok) {
              console.log("PUT request is successful");
              updateStatusSpan.innerHTML = "Succesful";
            } else {
              console.log("PUT request is not successful");
              updateStatusSpan.innerHTML = "Not succesful";
            }
            return res;
          })
          .then((res) => res.json())
          .then((data) => console.log(data))
          .catch((err) => res.json(err));
      });

      const deleteButton = document.querySelector("#buttonDelete");
      const deleteStatusSpan = document.querySelector("#deleteStatusSpan");
      deleteButton.addEventListener("click", (e) => {
        e.preventDefault();

        const _id = document.getElementById("deleteId").value;

        fetch("http://127.0.0.1:3000/contacts/deleteById", {
          method: "DELETE",
          headers: {
            "Content-Type": "application/json",
            "My-Custom-Header": "contactApp",
          },
          body: JSON.stringify({
            _id: _id,
          }),
        })
          .then((res) => {
            if (res.ok) {
              console.log("DELETE request is successful");
              deleteStatusSpan.innerHTML = "Succesful";
            } else {
              console.log("DELETE request is not successful");
              deleteStatusSpan.innerHTML = "Not succesful";
            }
            return res;
          })
          .then((res) => res.json())
          .then((data) => console.log(data))
          .catch((err) => res.json(err));
      });
    </script>
  </body>
</html>
